
body {background-color: white;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

h3	{color: #4A6491;
	font-family: Tahoma;
	font-size: 40pt;
	margin-bottom: 10px;
	margin-top: 20px;}



.main_slide { 	margin: 25px 125px 50px 125px;
				background-image: url('jump.gif');
				box-shadow: inset 0 0 0 1000px rgba(19, 79, 124, .7);
				background-repeat: no-repeat;
				background-size: 100%;
				position: relative;
				height: 600px;
					}

	.main_slide h1 {color: white;
	font-family: Tahoma;
	font-size: 55px;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 20px;
	text-shadow: 2px 2px black;
	}
 
	.main_slide p {color: white;
	font-family: Tahoma;
	font-size: 20pt;
	padding-left: 25px;
	font-weight: normal;
	text-shadow: 2px 2px black
	}

.jump {background-color: rgba(226, 29, 29, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 35px;
    display: inline-block;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    }

.landing {color: white;}
.landing p {font-size: 0pt;}


.slide {background-color: rgba(19, 79, 124, .1);
		margin: 50px 125px 30px 125px;
		}

.slide h1 {
	font-family: Georgia;
	font-size: 18pt;
	font-style: italic;
	font-weight: normal;
	padding: 15px 0 0 25px;
	opacity: 0.4;}

.slide h3 {padding-left: 25px;
			padding-right: 20px;}


.slide img {padding-top: 20px;}


#slide_2 img {width: 95%;
				padding-bottom: 30px;}

.bike {width: 50%;
		padding-bottom: 20px}
.bikefall {width: 40%;
		  }
.logo {width: 50%;
		padding-bottom: 20px}

.datasnap {width: 90%;}


.charts img {width: 500px;
				float: left;
				padding-right: 12px;}

.charttext {line-height: 24pt;
				padding-top: 30px;}


.struggle img {}


#slide_6 img {width: 500px;}

#slide_8 img {width: 60%;
				margin-bottom: 25px;}

#slide_9 p {font-size: 200pt;
			font-weight: bolder;
			line-height: 200pt;}

#thanks {color: transparent;}

p {font-family: Verdana;
	font-size: 15pt;
	padding-left: 25px;
	margin: 0;}

img {padding-left: 25px;}

